header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  48px 48px 0 48px;
    height: 40px;
}

.header__left{
    width: 50%;
    display: flex;
    justify-content: space-around;

}

.header__right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
