@import url(reset.css);
@import url(var.css);
@import url(button.css);
@import url(header.css);
@import url(footer.css);

/*  codigo necessário para fixar o footer no fim da pagina */
* {
	margin: 0;
}

html, body {
    min-height: 845px;
	height: 100%;
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
      margin-bottom: -104px; 
      position: relative;

  }

.page-wrap:after {
   content: "";
   display: block;
   height: 104px;
}

/* fim do posicionamento do footer */

body {
    font-family: var(--font-poppins);
    background-image: url('../source/header-background.svg');
    background-repeat: no-repeat;
    background-position:left top;
}

.main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 16px;
}

.main__text {
    text-align: center;
    color: var(--primary);
    line-height: 21px;
    max-width: 226px;
    margin: 0 auto;
}

.pets-list {
    padding-top: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin: 0 auto;
}

.card-pet {
    width: 100%;
    max-width: 400px;
    background-color: var(--text-light);
    display: grid;
    column-gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
                    "img name"
                    "img pet-data"
                    "img city"
                    "img contact";
}

.img {
    grid-area: img;
    padding: 24px 0 24px 24px;
}

.name {
    grid-area: name;
    font-weight: 600;
    line-height: 24px;
    color: var(--primary);
    align-self: center;
}

.pet-data {
    grid-area: pet-data;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--text-dark);
    align-self: flex-start;
}

.city {
    grid-area: city;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: var(--text-dark);
    align-self: flex-end;
}

.contact {
    grid-area: contact;
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    color: var(--text-dark);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}


.display-none, .main__text--tablet{
    display: none;
}

@media screen and (min-width: 768px) {
    
    body {
        background-size: 559px, 117px;
    }
    
    .display-none {
        display: block;
    }

    .main__text {
        max-width: 400px;
    }

    .main{
        max-width: 768px;
        padding-top: 80px;
    }

    .card-pet{
        max-width: 344px;
    }

    .mobile{
        display: none;
    }

    .main__text--tablet{
        font-size: 18px;
    }

}

@media screen and (min-width: 1440px) {
    
    body {
        background-image: url('../source/header-background.svg'), url('../source/main-background-right.svg');
        background-repeat: no-repeat;
        background-position: left top, right center;
    }

    .main__text {
        max-width: 100%;
    }

    .main{
        max-width: 1100px;
        min-height: 68vh;
        padding-top: 36px;
    }

    .mobile{
        display: block;
        width: auto;
    }

    .main__text {
        font-size: 18px;
    }

}