@import url(reset.css);
@import url(var.css);
@import url(button.css);
@import url(header.css);
@import url(footer.css);

body {
    background-color: var(--primary);
    font-family: var(--font-poppins);
    background-image: url('../source/header-background.svg'), url('../source/main-background-right.svg');
    background-repeat: no-repeat;
    background-position: left top, right center;
}

.main {
    margin: 4.7rem auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 80vh;
    color: var(--white);
}

.logo{
    width: 186px;
    margin: 0 auto 24px auto;
}

.main__title {
    font-family: var(--font-ibm);
    font-weight: 500;
    font-size: 26px;
    align-self: center;
    line-height: 48px;
    margin: 0 auto 24px auto;
}

.main__text {
    margin: 0 auto 24px auto;
    max-width: 270px;
    text-align: center;
    padding-bottom: 1rem;
    line-height: 24px;
}

.main-img {
    z-index: -1;
    position: relative;
    top: 25px;
    left: -20px;
    margin: 0 auto;
}

.display-none, .main__text--tablet {
    display: none;
}

@media screen and (min-width: 768px) {
    body {
        background-size: 559px, 134px;
    }
    
    .display-none, .main__text--tablet {
        display: inline;
    }

    .main__text--mobile {
        display: none;
    }

    .main {
        margin: 0 auto;
        min-height: 83vh;
    }
    
    .logo{
        width: 251px;
        margin: 0 auto 40px auto;
    }

    .main__title{
        font-size: 28px;
    }

    .main__text {
        max-width: 353px;
        font-size: 18px;
        line-height: 26px;
    }

    .button {
        width: 334px;
        height: 48px;
    }
        
}

@media screen and (min-width: 1440px){

    .main {
        min-height: 85vh;
    }
    
    .main__text {
        max-width: 488px;
        font-size: 18px;
        line-height: 26px;
    }

    .button {
        width: 362px;
    }

}