@import url(reset.css);
@import url(var.css);
@import url(button.css);
@import url(header.css);
@import url(footer.css);


/*  codigo necessário para fixar o footer no fim da pagina */
* {
	margin: 0;
}

html, body {
    min-height: 875px;
	height: 100%;
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
      margin-bottom: -104px; 
      position: relative;

  }

.page-wrap:after {
   content: "";
   display: block;
   height: 104px;
}

/* fim do posicionamento do footer */

body {
    background-color: var(--primary);
    font-family: var(--font-poppins);
    background-image: url('../source/header-background.svg'), url('../source/main-background-right.svg');
    background-repeat: no-repeat;
    background-position: left top, right center;
}

.main {
    display: flex;
    flex-direction: column;
    color: var(--white);
}

.logo{
    width: 186px;
    margin: 0 auto 24px auto;
}

.main__title {
    font-family: var(--font-ibm);
    font-weight: 500;
    font-size: 26px;
    align-self: center;
    line-height: 48px;
    margin: 0 auto 16px auto;
}

.main__text {
    margin: 0 auto 16px auto;
    max-width: 270px;
    text-align: center;
    line-height: 24px;
}

.main-img {
    /* img fixa no fim do page-warp para se ajustar a pagina */
    z-index: -1;
    position: absolute;
    bottom: 80px;
    left: 50%;
    margin-left: -150px;
}

.display-none, .main__text--tablet {
    display: none;
}

.button{
    width: 180px;
}

@media screen and (min-width: 768px) {
    body {
        background-size: 559px, 117px;
    }
    
    .display-none, .main__text--tablet {
        display: inline;
    }

    .main__text--mobile {
        display: none;
    }
    
    .logo{
        width: 251px;
        margin: 0 auto 40px auto;
    }

    .main__title{
        font-size: 28px;
        margin: 0 auto 24px auto;

    }

    .main__text {
        max-width: 353px;
        font-size: 18px;
        line-height: 26px;
        margin: 0 auto 30px auto;
    }

    .button {
        width: 334px;
        height: 48px;
    }

    .main-img{
        width: 338px;    
        margin-left: -182px;
    }
        
}

@media screen and (min-width: 1440px){
   
    .main__text {
        max-width: 488px;
        font-size: 18px;
        line-height: 26px;
    }

    .button {
        width: 362px;
    }

}



