@import url(reset.css);
@import url(var.css);
@import url(button.css);
@import url(header.css);
@import url(footer.css);

/*  codigo necessário para fixar o footer no fim da pagina */
* {
	margin: 0;
}

html, body {
    min-height: 845px;
	height: 100%;
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
      margin-bottom: -104px; 
      position: relative;

  }

.page-wrap:after {
   content: "";
   display: block;
   height: 104px;
}

/* fim do posicionamento do footer */

body {
    font-family: var(--font-poppins);
    background-image: url('../source/paws-background.svg'), url('../source/header-background.svg'), url('../source/main-background-left.svg');
    background-repeat: no-repeat;
    background-position: right top, left top, 0% 70%;
}

.main {
    display: flex;
    flex-direction: column;
}

.logo{
    width: 142px;
    margin: 0 auto 60px auto;
}

.main__text  {
    text-align: center;
    padding-bottom: 42px;
    color: var(--primary);
    line-height: 21px;
    margin: 0 auto;
}

.form {
    display: flex;
    flex-direction: column;
}

.form label {
    line-height: 24px;
    align-self: center;
    color: var(--text-dark);
    padding-bottom: 4px;
}

.input {
    height: 38px;
    background-color: var(--text-light);
    line-height: 16px;
    text-align: center;
    font-size: 12px;
    border: none;
    border-radius: 4px;
    margin: 0 auto 20px auto;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    width: 90%;
    max-width: 312px;
}

.input::placeholder {
    color: var(--text-mid);
}

.password {    
    background: var(--text-light) url(../source/hidden-icon.svg) 95% no-repeat;  
}

.forget-password {
    text-align: center;
    color: var(--tertiary);
    font-size: 12px;
    padding-bottom: 16px;
    text-decoration: underline;
}

.display-none {
    display: none;
}

@media screen and (min-width: 768px) {
    body {
        background-image: url('../source/paws-background.svg'), url('../source/header-background.svg'), url('../source/main-background-right.svg');
        background-position: right top, left top, 100% 50%;
        background-size: 233px, 559px, 117px;
    }

    .display-none{
        display: inline;
    }
    

    .main__text {
        font-size: 18px;
        line-height: 26px;
    }
    .logo{
        width: 251px;
        margin: 0 auto 40px auto;
    }
    
    .form label {
        padding-bottom: 8px;
        font-size: 18px;
        line-height: 24px;
    }

    .input {
        max-width: 344px;
        height: 40px;
        margin: 0 auto 24px auto;
    }
    .button {
        margin: 16px auto;
    }

}


@media screen and (min-width: 1440px){
    .form{
        padding-top: 48px;
    }

    .input{
        max-width: 552px;
        margin: 0 auto 24px auto;
    }

    .password {
        width: 362px;
    }

    .forget-password{
        display: none;
    }
}