:root {
    --primary: #3772FF;
    --secondary: #36D6AD;
    --tertiary: #FC7071;
    --tertiary-alt: #FCF0E3;

    --text-dark: #737380;
    --text-mid: #BCBCBC;
    --text-light: #f6f6f6;

    --white: #FFFFFF;

    --font-ibm: 'IBM Plex Sans', sans-serif;
    --font-poppins: 'Poppins', sans-serif;

}